body
{
	padding: 0px;
	margin: 0px;
	}

.box
{
	background-color:#EEE;
	border-radius:3px;
}


#loginBox
{
	width: 400px;	
}
	
	
.logoText
{
	font-size:64px;
	color: #09F;
}


input[type=text], input[type=password], textarea,select
{
	border:solid 1px;
	border-color:#999;
	border-radius:5px;
	padding: 5px;
	width: 300px;
}

input[type=submit], input[type=button], input[type=reset], button
{
	color: white;
	font-size:18px;
	background-color: #09F;
	border-radius: 3px;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border: 0px;
	cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover
{
	background-color: #06A;
}

a{
	color: #09F;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}


.table
{
	padding:0px;
	margin:0px;
	border: solid 1px #CCC;
	border-radius:5px;
	
}

.table thead
{
	background-color: #EFEFEF;
	color: #09F;
	
}

.table tr td
{
	padding: 3px;
	margin:0px;
	border-bottom: 1px solid #CCC;
	
}

.panel
{
	background-color: #EEE;
	border-radius:5px;
	padding: 5px;
	text-align:left;	
	width: 500px;
	border-bottom:1px #CCC solid;
}

.panel-title {
		font-size: 24px;
		border-bottom:1px #CCC solid;
		color: #333;
	}
	
#nav
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav li
{
	
	text-align: right;
}

#nav li a
{
	
	background-color: #09f;
	display:inline-block;
	width:90%;
	margin-bottom: 15px;
	padding: 5px;
	color: white;
	transition: all 0.3s ease-in-out;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}


#nav li a:hover
{
	width:95%;
	text-decoration: none;
		background-color: #06A;
	
}

.sidebar
{
	margin-top:15px;
	width: 180px;
display: inline-block;
float: left;
       
	}
	
.container
{
	width: 1000px;
	text-align: left;
	
}

.main
{
	width: 820px;
display: inline-block;	
	background-color: black;
	float: left;
	background-color:#FAFAFA;
	min-height:400px;
	
}
	
