<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.igate.ibank.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.igate.ibank.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserAction</display-name>
    <servlet-name>CreateUserAction</servlet-name>
    <servlet-class>com.igate.ibank.controller.CreateUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserAction</servlet-name>
    <url-pattern>/CreateUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountAction</display-name>
    <servlet-name>CreateAccountAction</servlet-name>
    <servlet-class>com.igate.ibank.controller.CreateAccountAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountAction</servlet-name>
    <url-pattern>/CreateAccountAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAccountAction</display-name>
    <servlet-name>DisplayAccountAction</servlet-name>
    <servlet-class>com.igate.ibank.controller.DisplayAccountAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAccountAction</servlet-name>
    <url-pattern>/DisplayAccountAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccNewExisting</display-name>
    <servlet-name>CreateAccNewExisting</servlet-name>
    <servlet-class>com.igate.ibank.controller.CreateAccNewExisting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccNewExisting</servlet-name>
    <url-pattern>/CreateAccNewExisting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainAddAccount</display-name>
    <servlet-name>MainAddAccount</servlet-name>
    <servlet-class>com.igate.ibank.controller.MainAddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainAddAccount</servlet-name>
    <url-pattern>/MainAddAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.igate.ibank.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
</web-app>